doctype html
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        title Spotify Practice
        mata(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .wrapper(id="preload_area")
            .main_bg
            header.navbar.navbar-inverse.at_top
                .container
                    a(href="#spotify")
                        .navbar_logo Spotify
                    
                    .navbar-collapse.collapse#navbar
                        a(href="#premium") Premium
                        a(href="#albums") Help
                        a(href="#") Download
                        li.divider(role="separator")
                        a.sign_up(href="#") Sign up
                        a.log_in(href="#") Log in

                    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar") 
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
            section.main
                .jumbotron(id="spotify")
                    .carousel.slide(id="carouselIndicators" data-ride="carousel")
                        ol.carousel-indicators
                            li(data-target="#carouselIndicators" data-slide-to="0").active
                            li(data-target="#carouselIndicators" data-slide-to="1")
                            li(data-target="#carouselIndicators" data-slide-to="2")
                            li(data-target="#carouselIndicators" data-slide-to="3")
                        .carousel-inner
                            .item.active
                                h1.text 3 months of Premium for $0.99.
                                a(href="#").btn.btn-lg.btn-solid Learn More
                                h4.text Or sign up for our 
                                    a(href="#").text_aquamarine free service
                            .item
                                h1.text Premium for whole family <br> Just $14.99.
                            .item
                                h1.text Students get 50% off Premium.
                            .item
                                h1.text Play Spotify on PlayStation®.
                        a(href="#carouselIndicators" data-slide="prev").carousel-control.left
                            span.icon-prev
                        a(href="#carouselIndicators" data-slide="next").carousel-control.right
                            span.icon-next
                .btn_scroll
                    a(href="#whatsOn")
                        span.btn_scroll_text LEARN ABOUT SPOTIFY
                


                .whatsOn.givePadding(id="whatsOn")
                    .container
                        .row
                            .col-xs-12.col-sm-7
                                .album  
                                    .album_art  
                                        img(src="https://pl.scdn.co/images/pl/default/a705ea088c587f03f309b71e8216ba6367646cea")
                                    .album_art
                                        img(src="https://i.scdn.co/image/33ce929f53593b7d6de1e7592823153ffb6ff03e")
                                    .album_art  
                                        img(src="https://i.scdn.co/image/8b662d81966a0ec40dc10563807696a8479cd48b")
                                    .album_art.hidden_sm
                                        img(src="https://i.scdn.co/image/6c41981dc659cc8a19a0371f42951d8dec48db7c")
                            .col-xs-12.col-sm-5
                                .album_text
                                    h2.text_purple What's on Spotify?
                                    h3.text_purple Music
                                    p There are millions of songs on Spotify. Play your favorites,
                                    <br>
                                    p discover new tracks, and build the perfect collection.

                                    h3.text_purple Playlists
                                    p You will find readymade playlists to match your mood, put
                                    <br>
                                    p together by music fans and experts. 
                                    
                                    h3.text_purple New Releases
                                    p Hear this week's latest singles and albums, and check out
                                    <br>
                                    p what's hot in the Top 50.
                
                .albums.givePadding(id="albums")
                    .container
                        .row
                            .col-xs-12.col-sm-12
                                h2 It's easy.
                                h3.text_aquamarine Search
                                p Know what you want to listen to ?
                                <br>
                                p Just search and hit play

                                h3.text_aquamarine Browse
                                p Check out the latest charts, brand
                                <br>
                                p new releases and great playlists for 
                                <br>
                                p right now.

                                h3.text_aquamarine Discover
                                p Enjoy new music every Monday
                                <br>
                                p with your own personal playlist. Or
                                <br>
                                p sit back and enjoy Radio.
                            .col-xs-12.col-sm-12.phone_group
                                .row
                                    .col-1-3.col-xs-4
                                        .phone.phone1
                                            img(src="img/phone1.png")
                                    .col-1-3.col-xs-4
                                        .phone.phone2
                                            img(src="img/phone2.jpg")
                                        .phone.phone3
                                            img(src="img/phone3.png")
                                    .col-1-3.col-xs-4
                                        .phone.phone4
                                            img(src="img/phone4.jpg")

                .devices.givePadding
                    .container
                        .elements 

                .subscriptions.givePadding(id="premium")
                    .container
                        .row
                            .col-xs-12.col-sm-10
                                .elements
                                    h1.text Go get the music. 
                                    p.text Listen free.
                                    <br>
                                    p.text Or go Premium to play on-demand, anywhere.
                                    
                                    .intro
                                        h3.text_aquamarine Spotify
                                        .price
                                            h3 $0.00 
                                                span.text_aquamarine /month
                                    h4 Enjoy your favorite albums and artists, with occasional ads.
                                    a(href="#").btn.btn-lg.btn-solid Get Spotify Free

                                    .spotify_premium
                                        h3.text_aquamarine Spotify Premium
                                        .price
                                            h3 $0.99 
                                                span.text_aquamarine /3 month
                                    
                                    h4
                                        .premium
                                            span.text_aquamarine Family 
                                            span and 
                                            span.text_aquamarine Student 
                                            span offers available
                                            span.right only $9.99/month after.

                                    h4
                                        ul
                                            li Play on-demand.
                                            li Listen offline.
                                            li No ads.
                                            li High quality audio. 
                                    
                                    a(href="#").btn.btn-lg.btn-solid Get Spotify Premium
                            .col-1-6
                                .phone
                                    img(src="img/phone5.png")
                    .end               
                        p Only $9.99/month after. Offer not available to users who already tried Premium. 
                            a(href="#").text_aquamarine Terms apply.

            footer.footer
                .container
                    .row
                        .col-xs-12.col-md-2
                            a(href="#spotify") 
                                .footer_logo Spotify
                                    
                        .col-xs-6.col-sm-4.col-md-2
                            h3.nav_title Company
                                ul.nav
                                    li
                                        a(href="#") About
                                    li
                                        a(href="#") Jobs
                                    li
                                        a(href="#") Press
                                    li
                                        a(href="#") News

                        .col-xs-6.col-sm-4.col-md-2
                            h3.nav_title Communities
                                ul.nav
                                    li
                                        a(href="#") For Artists
                                    li
                                        a(href="#") Developers
                                    li
                                        a(href="#") Brands

                        .col-xs-6.col-sm-4.col-md-2
                            h3.nav_title Useful Links
                                ul.nav
                                    li
                                        a(href="#") Help
                                    li
                                        a(href="#") Gift
                                    li
                                        a(href="#") Web Player
                        .col-xs-12.col-md-4.social
                            ul.nav
                                li
                                    a(href="#") 
                                        img.svg(src="./img/instagram-icon.svg")
                                li
                                    a(href="#") 
                                        img.svg(src="./img/twitter-icon.svg")
                                li
                                    a(href="#") 
                                        img.svg(src="./img/facebook-icon.svg")
                    .row.row_small
                        .col-xs-8.col-sm-6
                            .elements.left
                                ul
                                    li
                                        a 
                                            small Legal 
                                    li
                                        a 
                                            small Privacy 
                                    li
                                        a 
                                            small Cookies 
                                    li
                                        a 
                                            small About 
                                    li
                                        a 
                                            small Ads
                        .col-xs-4.col-sm-6
                            .elements.right
                                a(href="#").market
                                    small.tw Taiwan 
                                    span.flag_icon
                                .small
                                    small.copyright © 2017 Spotify AB
                                        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="js/transition.js")
        script(src="js/bootstrap.min.js")
        script(src="js/main.js")